.field {
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 10px;
  text-align: left;
  margin-top: 10px;
  display: flex;
}
.field .field-label {
  transition: opacity 200ms ease-in-out;
  text-transform: capitalize;
  font-weight: 700;
  opacity: 1;
}
.field .field-label.field-label-hidden {
  opacity: 0;
}
.field .field-error {
  text-align: right;
  color: #c9302c;
  font-size: 12px;
  height: 12px;
}
.field .field-description {
  text-align: right;
  color: #4e545e;
  font-size: 12px;
  height: 12px;
}
.field textarea {
  padding-top: 6px;
  min-height: 42px;
  resize: none;
}
.field .input {
  font-family: "Roboto Mono", monospace;
  border: 3px solid black;
  box-shadow: 0.1em 0.1em;
  border-radius: 0.4em;
  overflow: hidden;
  font-size: 16px;
  padding: 12px;
  height: auto;
  margin: 4px;
}
.field .input.input-jumbo {
  font-weight: 700;
  background: none;
  font-size: 50px;
  border: none;
}
.field .input.input-jumbo::-webkit-input-placeholder {
  color: #000;
  opacity: 0.5;
}
.field .input.input-jumbo::-moz-placeholder {
  color: #000;
  opacity: 0.5;
}
.field .input.input-jumbo:-ms-input-placeholder {
  color: #000;
  opacity: 0.5;
}
.field .input.input-jumbo:-moz-placeholder {
  color: #000;
  opacity: 0.5;
}
.field .input.input-error {
  border-color: #c9302c;
}
.field .input:disabled {
  pointer-events: none;
  opacity: 0.5;
}
.field .input:focus {
  border-color: #32c094;
  outline: none;
}
.field .input:focus.input-error {
  border-color: #c9302c;
}
.field .input::-webkit-input-placeholder {
  color: #c0c7d3;
}
.field .input::-moz-placeholder {
  color: #c0c7d3;
}
.field .input:-ms-input-placeholder {
  color: #c0c7d3;
}
.field .input:-moz-placeholder {
  color: #c0c7d3;
}
