.playground {
  display: flex;
  justify-content: center;
  align-items: center;
}

#playfield {
  position: absolute;
}

.menu-container {
  padding-bottom: 20px;
  /* height: auto; */
}

.menu-container div div:nth-child(2) {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.title,
.sub-title {
  text-align: center;
  font-size: 3rem;
  /* -webkit-text-stroke: 1px #000; */
}

.hide {
  display: none;
}

.pause {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.back {
  position: absolute;
  top: 10px;
  left: 10px;
}

.pause button {
  opacity: 0.3;
  transition: opacity 0.3s;
}

.pause button:hover {
  opacity: 1;
}

.score {
  position: absolute;
  top: 0;
  right: 100px;
  z-index: 1;
  text-shadow: -1px -1px 0 #eee, 1px -1px 0 #eee, -1px 1px 0 #eee,
    1px 1px 0 #eee;
}

.play {
  height: 72px;
  width: 120px;
}

.togglers {
  display: block;
  padding: 0 20px;
  margin-top: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sliders {
  flex-direction: column;
  padding: 10px;
}

.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container div:nth-child(2) div:nth-child(2) div {
  flex: 1;
}

.config {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.select-list {
  width: 100%;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .sub-title {
    margin: 10px 10px 10px 100px;
    text-align: left;
    font-size: 32px;
  }

  .menu-container {
    height: auto;
    min-width: 90%;
    position: relative;
    margin-top: 100px;
  }

  .select-list {
    width: 90%;
  }

  .config {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  #playfield {
    margin-top: 50px;
  }
}
